


%mon-400{
  font-family: "Montserrat-Regular";
  font-weight: 400;
}
%mon-600{
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
}
%mon-700{
  font-family: "Montserrat-Bold";
  font-weight: 700;
}
%mon-700i{
  font-family: "Montserrat-BoldItalic";
  font-weight: 700;
}
%ari-400{
  font-family: "arial";
  font-weight: 400;
}
%ari-700{
  font-family: "arial";
  font-weight: 700;
}
%ari-700i{
  font-family: "arial";
  font-weight: 700;
  font-style: italic;
}